#post-table {
  width: 80vh;
  border: 2px;
  border-style: solid none;
  border-color: #1f1f1f;
}

#post-table thead {
  text-align: center;
}

#post-table button:hover {
  text-decoration: underline;
}

#post-table .th-num .th-writer {
  width: 100px;
  text-align: center;
}

#post-table .th-date {
  width: 200px;
}

#post-table th, #post-table td {
  padding: 10px 0;
}

.td-num, .td-writer, .td-date{
  text-align: center;
}

.td-title > .rm-btn-style{
  margin-left: 17px;
}

#post-table tbody td {
  border-top: 1px solid #e7e7e7;
}